.cm-editor .cm-content {
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  line-height: var(--editor-line-height);
  text-indent: var(--editor-text-indent);
  hyphens: var(--editor-hyphens);
  caret-color: var(--editor-caret-color);
  max-width: var(--editor-max-width);
  white-space: pre-wrap;
}

.cm-editor .cm-line {
  padding: var(--editor-paragraph-spacing) 0;
}

.cm-focused {
  outline: none !important;
}

.cm-editor {
  height: 100%;
  padding: 0 20px;
}

.cm-whitespace {
  color: var(--editor-whitespace-color);
  word-break: break-all;
}

.cm-editor .cm-placeholder {
  display: inline;
}

.cm-editor .cm-content {
  margin-left: auto;
  margin-right: auto;
  text-align: var(--editor-text-align);
}

.cm-editor .cm-selectionBackground,
.cm-editor .cm-focused .cm-selectionBackground {
  background-color: var(--editor-selection-color) !important;
}

.cm-editor .cm-cursor-primary {
  border-color: var(--editor-cursor-color) !important;
}

.cm-editor .cm-activeLine {
  background: var(--editor-active-line-background);
}
