# container variables

PUBLIC_DOMAIN=notes.localhost
PUBLIC_HOST=127.0.0.1

# only for dev environment
# NODE_ENV=dev

# set to user id of local user which should own data files (only for dev environment)
CONTAINER_USER_ID=1000

# application variables

AUTH_PASSWORD=<required>
