.idea
node_modules
src/static/*.js
src/static/*.css
src/static/*.txt
src/static/*.ttf
.env
*.js
*.js.map
!src/.storybook/*.js
!src/webpack.config.js
data/workspaces
!data/workspaces/.gitkeep
data/config
!data/config/.gitkeep
!src/jest.config.js
src/server/test/fixture/**/*.*
*.pem
