<!doctype html>
<html>
<head>
  <title>Notes app</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/icon.svg" type="image/svg"/>
</head>
<body>
<form action="/auth/code" method="post">
  <label>
    Password
    <input type="password" name="password" autofocus required/>
  </label>

  <button type="Submit">
    Submit
  </button>
</form>

<div>
  <a href="/auth/google">Login with Google</a>
</div>
</body>
</html>
