<!doctype html>
<html>
<head>
  <title>Notes app</title>
</head>
<body>
<form action="/auth/code" method="post">
  <label>
    Password
    <input type="text" name="password" autofocus required/>
  </label>

  <button type="Submit">
    Submit
  </button>
</form>

<div>
  <a href="/auth/google">Login with Google</a>
</div>
</body>
</html>
