<!doctype html>
<html>
<head>
  <title>Notes app</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
</head>
<body>
<div id="root" data-params="{{json params}}"></div>
<script src="static/index.js"></script>
</body>
</html>
