.fatal-error {
  padding: 20px;
  background: #830000;
  font-family: monospace;
  color: white;
  margin: 20px;
}

.fatal-error__details {
  margin-top: 20px;
}

.fatal-error__button {
  background: #830000;
  padding: 0;
  border: 0;
}
