.cm-editor .cm-content {
  font-family: "Fira Code", "Consolas", monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

.cm-editor:focus {
  outline: none;
}

.ͼ1.cm-focused {
  outline: none !important;
}
